name: CI

on:
    push:
        branches: [ main ]
        paths:
            - "src/**"
            - "data/**"
            - "models/**"
            - "requirements.txt"
            - ".github/workflows/**"
    pull_request:
        paths:
            - "src/**"
            - "data/**"
            - "models/**"
            - "requirements.txt"
            - ".github/workflows/**"

jobs:
    run-predict:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Run the predict script
              run: |
                # The script requires at least one positional argument for 'text'
                python src/predict.py --model models/sentiment.joblib "This is a test text for CI"

    run-train:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Run the training script
              run: |
                python src/train.py

    test:
      runs-on: ubuntu-latest
      timeout-minutes: 10
      steps:
            - name: Check out repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            
            - name: Run tests with pytest
              run: pytest -v

    ruff:
          runs-on: ubuntu-latest
          timeout-minutes: 10
          steps:
                - name: Check out repository
                  uses: actions/checkout@v4

                - name: Set up Python
                  uses: actions/setup-python@v5
                  with:
                    python-version: "3.11"
                
                - name: Install dependencies
                  run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt
                
                - name: Run ruffs linter check
                  run: ruff check .

                - name: Run ruffs format check
                  run: ruff format . --check
